/*Schrijf hier jouw css*/

:root{
    --space-cadet: hsla(227, 50%, 16%, 1);
    --oxford-blue: hsla(245, 100%, 8%, 1);
    --beige: hsla(62, 52%, 90%, 1);
    --antique-brass: hsla(19, 56%, 69%, 1);
    --fuzzy-wuzzy: hsla(359, 40%, 59%, 1);
}



body{
    border: 2px dotted black;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
}

.titles{
    border: 2px dotted green;
    display: flex;
    flex-direction: column
}

.boxes{
    border: 2px dashed red;
    display: flex;
    flex-direction: row;
}

article{
    background-color: var(--fuzzy-wuzzy);
}

